<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <style>
        .logos {
            margin: 18px 0;
        }
        .my-logo {
            object-fit: contain;
            max-height: 100px;
        }
        .website-logo {
            object-fit: contain;
            max-height: 200px;
        }

    </style>
    <title>About</title>
</head>

<body>
    <section>
        <div class="container col-4">
            <div class="vertical-center">
                <div class="d-flex flex-column align-items-center">
                    <div class="row ">
                        <div class="logos">
                            <img src="../../../assets/images/logo.png" alt="" class="website-logo">
                            <img src="../../../assets/images/my_logo.webp" alt="" class="my-logo">
                        </div>

                    </div>
                    <div class="row">
                        <h1>
                            Eventx
                        </h1>
                    </div>
                    <div class="row">
                        <h3>Develop By. Hassan Elamin</h3>
                    </div>
                    <div class="row">
                        <h3>
                            Follow Us
                        </h3>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-row justify-content-space-around social_media_navs">
                            <a target="_blank" href="https://www.facebook.com" class="btn btn-info social-nav-btn">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a target="_blank" href="https://www.x.com" class="btn btn-dark social-nav-btn">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <a target="_blank" href="https://www.youtube.com" class="btn btn-danger social-nav-btn">
                                <i class="fa-brands fa-youtube"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>